#map
    max-width: none
    .wrapper
        position: relative
        overflow: hidden
        &.zoom
            width: 512px
            height: 512px
            overflow: auto
    .point
        border-radius: 50%
        position: absolute
        width: 8px
        height: 8px
        box-shadow: 0 0 1px 3px #000
        background: #0f0
        cursor: pointer
    #player-point
        background: #0ff
        z-index: 1
    .pk
        background: #f00
    .marker-point
        background: #f166f1
        border-radius: 0

