.panel
    color: white
    position: absolute
    z-index: 1
    text-align: left

    &.container button
        min-width: 130px
    > img, > canvas
        max-width: 64px
        max-height: 64px
    &.top
        box-shadow: 0 0 2px 3px rgba(200, 144, 21, 0.8)
        border-radius: 6px 6px 1px 1px

    > .title-bar
        background-color: #db9416
        background:
            url('assets/bg/panel/header-left.png') no-repeat top left,
            url('assets/bg/panel/header-right.png') no-repeat top right,
            url('assets/bg/panel/header.png') repeat-x
        cursor: default
        width: 100%
        height: 14px
        box-sizing: border-box
        padding-left: 6px
        position: relative
        border-radius: 5px 5px 0 0

        > .title-text
            width: 90%
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            line-height: 15px
            font-size: 11px
        .close
            border-left: 1px solid #6f350d
            background: url('assets/bg/panel/close.png') no-repeat center
            display: block
            height: 13px
            width: 14px
            position: absolute
            right: 0px
            bottom: 0
            &:hover
                cursor: pointer
                -webkit-filter: brightness(150%)
                filter: brightness(150%)

    .contents
        /*overflow: hidden*/
        // update Panel.setWidth() pad = 2*(padding)
        padding: 10px
        background:
            url('assets/bg/panel/border-top-left.png') no-repeat top left,
            url('assets/bg/panel/border-top-right.png') no-repeat top right,
            url('assets/bg/panel/border-top.png') repeat-x top,
            url('assets/bg/panel/border-bottom-left.png') no-repeat bottom left,
            url('assets/bg/panel/border-bottom-right.png') no-repeat bottom right,
            url('assets/bg/panel/border-bottom.png') repeat-x bottom,
            url('assets/bg/panel/border-left.png') repeat-y left,
            url('assets/bg/panel/border-right.png') repeat-y right,
            #7b5323


