#settings
    //> .contents
    label
        display: block
        cursor: pointer
        &:hover
            color: lightgreen

    .settings-option-desc
        border-left: 1px solid #593815
        padding: 4px 2px 2px 4px
        position: absolute
        top: -1px
        right: 0
        width: 300px
        height: 331px

    .stabs
        height: 320px
        width: 560px
        display: flex
        flex-flow: column wrap
        align-items: stretch
        align-content: space-around
        justify-content: flex-start

    .stab
        display: flex
        flex-flow: column nowrap
        margin-bottom: 16px

        &.character
            order: 1
        &.graphics
            order: 2
        &.sounds
            order: 3
        &.ui
            order: 4
        &.system
            order: 5

    .stab-content
        border: 1px solid #593815
        padding: 4px 2px 2px 4px

    cite
        display: inline-block
        width: 75px
