#skill-list
    margin-top: -2px

#skills
    width: 369px
    .skill
        cursor: pointer
        &.capped
            color: #f7b56d
        &.selected, &:hover
            background: #74481b
    .description
        min-height: 150px
        background: #74481b
        margin: 4px 0 4px
        border: 1px solid #6a4011
        padding: 4px
        //white-space: pre-wrap

