@import 'kouto-swiss'

//[tooltip]
    //position: relative
    //> span
        //z-index: 10
        //position: absolute
        //display: none
        //line-height: 1.25

    //&:hover > span
        //display: inline-block

[tooltip]
    position: relative
    &:before
        z-index: 1000000
        content: attr(tooltip)

        position: absolute
        display: none
        //top: -3px*3 - 1.25*16
        bottom: 110%
        left: -10%

        color: #fff
        line-height: 1.25
        background: #99682e
        border: 1px solid #a57031
        border-radius: 3px

        padding: 3px
        white-space: nowrap

        opacity: 0
        transition: 0.4s linear opacity

    &:after
        //content: ' '
        //z-index: 1000001
        //display: none
        //position: absolute
        ////top: -3px
        //bottom: -100%
        //left: -10%

        //margin-bottom: -10px

        //opacity: 0
        //width: 10px
        //height: 10px
        //triangle( down, 10px, red )

    &:hover
        &:before
        &:after
            opacity: 1
            display: block

[tooltip='']
    &:after, &:before
        display: none !important
