#users
    li
        list-style-type: square
        cursor: pointer
        &:hover
            color: lightgreen
    a
        cursor: pointer
        margin-left: 0.5em
        &:hover
            text-decoration: underline
    iframe
        width: 100%
        min-height: 530px

